<div class="pokemon-type-component">
    <div class="header-type">
        <div class="btn-area">
            <button class="btn btn--stripe"> SHOW ALL FLYING POKEMONS</button>
        </div>
    </div>
    <div class="container-items">
        <app-pokemon-item></app-pokemon-item>
        <app-pokemon-item></app-pokemon-item>
        <app-pokemon-item></app-pokemon-item>
        <app-pokemon-item></app-pokemon-item>
        <app-pokemon-item></app-pokemon-item> 
        <app-pokemon-item></app-pokemon-item>
    </div>
</div>
