<div class="aboutUs-container">
    <div class="welcomHeader-area">
        <h2 class="welcomHeader">{{'greatings'|translate}}</h2>
    </div>
    <div class="imgBox">
        <img src="assets/For_aboutUs.png" class="imgAboutUs">
    </div>

    <div class="info-aboutUs">
        <p>
            {{'about_t0'|translate}}
        </p>
        <h3>{{'about_h1'|translate}} </h3>
        <p>{{'about_t1'|translate}}</p>
        <h3>{{'about_h2'|translate}} </h3>
        <p>{{'about_t2'|translate}}</p>
        <h3>{{'about_h3'|translate}} </h3>
        <p> {{'about_t3'|translate}}</p>
    </div>
</div>