<div class="pokemon-item-component" (click)="showDescr()">
    <div class="pokemon-card">
        <div class="imgBox">
            <h3 class="pokemonName">{{pokemon.name | titlecase}}</h3>
            <img class="pokemon-img" alt="SORRY NO PHOTO" [src]="pokemon.sprites.other.home.front_default" />
        </div>
        <div class="pokemon-desc">
            <div *ngFor="let stat of pokemon.stats | slice: 0:5;"> {{stat.stat.name |titlecase}}: {{stat.base_stat}}</div>
           
        </div>
        <div class="add-button-area">
            <button class="add-button" (click)="addToCart($event)">
                <i class="bi bi-cart-plus"></i>
            </button>
        </div>
    </div>
</div>