<div class="descr-container">
    <div class="descr-head-area">
        <h1>Hello, my name is Wing!</h1>
    </div>
    <div class="photo-container">
        <div class="main-img-container">
            <img class="main-img" src="assets/16.png">
        </div>
        <div class="addition-img" src="assets/16s.png">
            <img class="small-img" src="assets/16s.png">
            <img class="small-img" src="assets/16s.png">
            <img class="small-img" src="assets/16s.png">
            <img class="small-img" src="assets/16s.png">
        </div>

    </div>
    <div class="decr-info">
        <p>ID: 16</p>
        <p>Base expirience: 431</p>
        <p>Abilities: 123</p>
        <p>Height:12</p>
        <p>Weight:12</p>
        <p>Weight:12</p>
        <p>Weight:12</p>
        <p>Weight:12</p>
        <p>Weight:12</p>
        <p>Weight:12</p>
        <p>Weight:12</p>
    </div>
    <div class="add-button-area">
        <button class="add-button">
            <i class="bi bi-cart-plus"></i>
        </button>

    </div>
</div>