<div class="descr-container" *ngIf="pokemon">
    <div class="descr-head-area">
        <h1>{{'hi_my_name'|translate}} {{pokemon.name | titlecase}}!</h1>
    </div>
    <div class="photo-container">
        <div class="main-img-container">
            <img class="main-img" [src]="pokemon.sprites.other.home.front_default" alt="assets/noImg.png">
        </div>
        <div class="addition-img" >
            <img class="small-img" [src]="pokemon.sprites.front_shiny" alt="SORRY NO PHOTO">
            <img class="small-img" [src]="pokemon.sprites.back_shiny" alt="SORRY NO PHOTO">
            <img class="small-img" [src]="pokemon.sprites.front_default" alt="SORRY NO PHOTO">
            <img class="small-img" [src]="pokemon.sprites.back_default" alt="SORRY NO PHOTO">
        </div>

    </div>
    <div class="decr-info">
        <p>ID: {{pokemon.id}}</p>
        <p>Base expirience: {{pokemon.base_experience}}</p>
        <p>Abilities: {{pokemon.base_experience}}</p>
        <p>Height:{{pokemon.height}}</p>
        <p>Weight:{{pokemon.weight}}</p>
        <p *ngFor="let stat of pokemon.stats"> {{stat.stat.name|titlecase}}: {{stat.base_stat}}</p>
    </div>
    <div class="add-button-area" >
        <button class="add-button" (click)="addToCart($event)">
            <i class="bi bi-cart-plus"></i>
        </button>

    </div>
</div>