* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 body{
    min-width:350px;

 }

 .toast-container {
    position: fixed !important; 
    .toast-success{
        background-color: #ffcc01 !important;
        color: black;
    }
}
