<header class="header-area">
   <app-main-menu></app-main-menu>
</header>
<content class="content-area">
    <router-outlet></router-outlet>
</content>
<footer class="footer-area">
    <div class="footer-info">
        <div class="home-area"><a routerLink="./home" routerLinkActive="active">HOME</a></div>
        <div class="about-area"> <a routerLink="./about" routerLinkActive="active">ABOUT US</a></div>
        <div class="contact-area"><a routerLink="./contactUs" routerLinkActive="active">CONTACT US</a></div>
    </div>
</footer>