.header-area {
    background-color: #f0ffff;
    height: 400px;

    
}

.content-area {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer-area {
    background-color: blue;
    height: 50px;
}